.hero {
  display: flex;
  align-items: center;
  margin: 16px;
}
.hero-right,
.hero-left {
  flex: 50%;
}
.hero-left {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero-btns {
  display: flex;
  gap: 16px;
}
.hero-btns button {
  padding: 8px 16px;
}